<br>
<div class="wrapper">
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p> [ picture of the space! ] </p>
		</div>
		<div class="col-md-3">
			<h2>space name</h2>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>about space</h3>
				<p>all space specs go here</p>
			</div>
		</div>
	</div>
</div>

<br>

<div class="panel panel-body">
	<%= render 'comments/form' %>
</div>