@import 'variables';

.jumbotron {
	height: 750px;
	background-image: url(image_path('red-space-unsplash.jpg'));
	background-size: 100% auto;
	margin: 2px;
	padding: 2px;
	.container {
		height: 750px;
		vertical-align: center;
		h1{
			@include brandText;
			font-size: 12em;
			text-align: center;
		}
		h4{
			@include otherHeaderText;
			font-size: 6em;
			text-align: center;
			padding-top: 100px;
		}
	}
}
